<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Chat Room</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <script src="https://kit.fontawesome.com/1135650420.js" crossorigin="anonymous"></script>

  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav class='navbar' role="navigation" aria-label="main navigation">
    <div class="navlink navbar-item"><a href="/logout">Log out</a></div>
    <div class="navlink navbar-item" id='chatButton'><a href="/chat">Chat</a></div>
    <div class="navlink navbar-item" id='settingsButton'><a href="/settings">Settings</a></div>
  </nav>
  <section id='chat'>
    this is where the chat will go
  </section>
  <section id='messageBox'>
    this is where the message will go
  </section>
  <section id='errorMessage'>
    this is where errors will be
  </section>


  <script src="/assets/bundle.js"></script>

</body>

</html>