<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Chat Room</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <script src="https://kit.fontawesome.com/1135650420.js" crossorigin="anonymous"></script>

  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav class='navbar is-transparent is-block pb-5' role="navigation">
    <div class="navbar-menu is-active">
      <div class="navbar-start">

        <a class="navbar-item" href="/logout">
          <span class="icon">
            <i class="fas fa-sign-out-alt"></i>
          </span>
          <span>Log out</span>
        </a>
        <a class="navbar-item" id="chatButton" href="/chat">
          <span class="icon">
            <i class="fas fa-comments"></i>
          </span>
          <span>Chat Room</span>
        </a>
        <a class="navbar-item" id="settingsButton" href="/settings">
          <span class="icon">

            <i class="fas fa-user-cog"></i>
          </span>
          <span>Settings</span>
        </a>




      </div>
  </nav>

  {{!-- <div class="container is-fluid pb-6">
    <section id='chat'>
      this is where the chat will go
    </section>
  </div> --}}

  <div class="container is-fluid pb-6" id='chat-css'>
    <section class="hero is-medium is-clipped" id='chat'>
      <div class="hero-body">
        <p class="subtitle">

        </p>
      </div>
    </section>
  </div>


  <div class="container is-fluid pb-6">
    <section id='messageBox'>
      this is where the message will go
    </section>
  </div>




  <article class="message is-small is-danger " id='article-errorMessage'>
    <div class="message-header">
      <p>Error Message</p>
    </div>
    <div class="message-body">
      <p id="errorMessage">test</p>
    </div>
  </article>


  <script src="/assets/bundle.js"></script>

</body>

</html>