@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css';

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

form {
	width: 75%;
	margin: auto;
}

#article-errorMessage {
	display: none;
	width: 50%;
	margin: auto;
}

#chat-css {
	height: 70%;
	overflow-y: auto;
}

#header-right {
	text-align: right !important;
	display: block !important;
}

.message-header {
	display: block !important;
}

#message-form {
	padding-top: 1em;
	padding-bottom: 1em;
}

#message-inline {
	display: inline-block;
}

#message-info {
	white-space: nowrap;
	text-align: right !important;
}

#rules {
	margin: auto;
	width: 50%;
}
